.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  width: 25%;
}

body {
  background-color: #212121;
}

h1 {
  margin: 15px 30px 50px;
  font-family: 'Pacifico', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #DCEDC1;
}



p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
